/* css grid
layaut -->geometria q c
alcula el navegador para saber do
y donde colocar cada elelemto y q tanto separarlo de los demas

aliniacion de tracks

grid placement
algoritmo que utiliza css grid para poner los elementos en el grid
******************
grid-auto-flow  determina el sentido del grid

valores
row--valor por defecto
column--se pone en un sola direccion es necesario definir filas para usarlo

cuando  hay muchos elemntos y no entran en el contenedor se crea un grid inplicito

NOTA PONEMOS  LA PALABRA DENSE para rellenar huecos en el flujo 
SOLO QUE CAMBIARA EL ORDEN DEL FLUJO


***********
grid-auto-rows:100px ;
definimos tanaño  de los nuevos elemtos en caso se desborden


grid-auto-columns: 200px;
definimos tanaño  de los nuevos elemtos en caso se desborden



**************
grid-row
define en que parte del track empieza y termina 
 cuando hacemos eso se desbordan tosdos los elemtos ajustandose 
 al la nueva propiedad

 NOTA: SE FUEZA A SALIR A UN ELEMTO DEL GRID


**************
 

*/  


.grid{
    display: grid;
    grid-template-columns:repeat(6 ,1fr) ;
    grid-template-rows: repeat(3,1fr);
    grid-gap: 5px;
    grid-auto-flow: row dense;
    grid-auto-rows:50px ;
    grid-auto-columns: 200px;
    
}
.item{
    display: grid;

    background: powderblue;
    border: 1px solid black;
    justify-items: center;
    align-items: center;
    font-size: 2em;
    
}

.item-10{
    grid-row: 8/10;
}
.item-4{
    grid-column: span 5;
}
.item-7{
    grid-row: span 5;
}
.item-5{
    grid-row: span 5;
}
.item-1{
    grid-column: span 3/ span 5;
}
.item-24{
    grid-column: span 3;
}
.item-13{
    grid-column: span 5;
}
.item-6{
    grid-area: span 2 / span 3;/*ocupan 2 filas y 3 columnas*/
}
